/* Header */
header {
  background: linear-gradient(to left, #FF6600, #FFEB00);
  border-bottom: 3px solid #002776;
  padding: 10px 20px; /* Espaciado alrededor del contenido del header */
  display: flex;
  justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
  align-items: center; /* Alinea verticalmente los elementos */
  position: relative;
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

/* Logo */
.logo {
  height: 50px; /* Tamaño del logo */
  width: auto; /* Mantiene las proporciones del logo */
  margin-right: 20px; /* Espacio a la derecha del logo */
}

/* Menú */
.menu {
  display: flex;
  justify-content: flex-end; /* Alinea el menú a la derecha */
  align-items: center; /* Alinea el menú verticalmente al centro */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Alinea los elementos del menú verticalmente */
}

.menu ul li {
  margin: 0 15px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
  display: flex; /* Para permitir que los iconos y el texto se alineen */
  align-items: center; /* Alinea los iconos y el texto verticalmente */
}

.menu ul li a i {
  margin-right: 8px; /* Espaciado entre el icono y el texto */
  font-size: 20px; /* Tamaño del icono */
}

.menu ul li a:hover {
  color: #f7c600;
}

/* Menú en pantallas pequeñas */
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 10px 10px; /* Ajusta el espaciado */
  }

  .logo {
    height: 40px; /* Ajusta el tamaño del logo para pantallas pequeñas */
    margin-right: 10px; /* Espacio entre el logo y el menú */
  }

  .menu {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos del menú a la derecha */
    align-items: center;
  }

  .menu ul {
    display: flex;
    flex-direction: row; /* Los elementos del menú siguen en una línea */
  }

  .menu ul li {
    padding: 5px;
  }

  /* Ocultar los textos y mostrar solo los iconos */
  .menu ul li a span {
    display: none; /* Ocultar los títulos (textos) */
  }

  .menu ul li a i {
    font-size: 15px; /* Hacer los iconos más pequeños */
  }

  .menu ul li a:hover {
    color: #f7c600;
  }
}
