/* Estilos generales para la página de la posada */
#info-posada {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#info-posada h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #003366;
}

#info-posada p {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #333;
}

#info-posada a {
  font-size: 1.2rem;
  color: #009739;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

#info-posada a:hover {
  text-decoration: underline;
}

/* Carrusel de imágenes */
#carrusel-imagenes {
  display: flex;
  overflow-x: hidden;  /* Evita el desbordamiento horizontal */
  gap: 10px;
  margin: 20px 0;
  justify-content: center; /* Centra el carrusel */
}

#carrusel-imagenes img {
  width: 100%;
  max-width: 300px; /* Limita el ancho de cada imagen */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; /* Evita que las imágenes se reduzcan */
}

#videos {
  margin-top: 20px;
}

#videos video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Servicios */
#servicios {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#servicios li {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #666;
}

#servicios li::before {
  content: "✔️";
  margin-right: 8px;
  color: #009739;
}





