body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url('https://www.cronista.com/files/image/308/308209/5ffe31164d40e.webp?oe=jpg') no-repeat center center / cover;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Logo flotante */
.logo-flotante {
  position: fixed;
  top: 0%; /* más abajo */
  left: 200px; /* podés poner right: 20px; si lo querés a la derecha */
  z-index: 1000;
  pointer-events: auto;
}

.logo-flotante img {
  height: 80px; /* más grande — vos podés poner 200px, 250px, lo que quieras */
  display: block;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}
