/* Logo flotante (achicar el logo) */
.barra-fija {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0; /* un poco de aire, pero poco */
  line-height: 1;
}

.logo {
  height: 80px;
}

.titulo {
  margin: 0;
  font-size: 26px; /* o 26px si querés un intermedio */
  color: #def62b;
  line-height: 1.1;
}

