/* Logo flotante (achicar el logo) */
.barra-fija {
  display: flex;
  align-items: center; /* alinea verticalmente */
  gap: 15px; /* espacio entre logo y título */
  padding: 0px;
  
}

.logo {
  height: 80px;
}

.titulo {
  margin: 0;
  font-size: 28px;
  color: #def62b;
}

