/* Contenedor del mapa y ficha */
#map-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Mapa a la izquierda */
#map {
  width: 70%;
  height: 100%;
  display: block;
}



/* Responsive para móviles */
@media (max-width: 768px) {
  #map-container {
    flex-direction: column;
  }

  #map {
    width: 100%;
    height: 50vh;
  }
  }
 